body {
    background-color: rgb(148, 148, 148);
    color: rgb(0, 0, 0);
}
.Formulario{
    width: 55%;
    height: 100%;
    display: block;
    justify-content:space-around;
    justify-items: center;
    align-items: flex-start;

    width: 250px;
    margin: 50px auto;
    max-height: 410px;
    padding: 30px;

    background-color: white;
    border-radius: 12px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    color: #333;
}
.Formulario textarea{
    resize: none;
    height: auto;
}
.Formulario input{
    height: auto;
}
.Logos{
    width: 15%;
    height: auto;
}